<html>
  <head>
    <title>Holoscape conductor log</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="common.css">
    <style>
      .error {
        color: red;
      }
      .info {
        color: blue;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <ul id="example-1">
        <li v-for="log in logs">
          <span :class="log.level">
            <b>[{{ log.level }}]</b> <span v-html="log.message"></span>
          </span>
        </li>
      </ul>
    </div>

    <script type="text/javascript" src="conductor_log.js"></script>
    <script>
      var ipcRenderer = require('electron').ipcRenderer;
      var Convert = require('ansi-to-html');
      var convert = new Convert();

      var app = new Vue({
        el: '#app',
        data: {
          logs: require('electron').remote.getGlobal('holoscape').logMessages
        }
      })

      ipcRenderer.on('log', (event,store) => {
          let {level, message} = store
          message = convert.toHtml(message)
          app.logs.push({level, message})
      });

    </script>
  </body>
</html>
