<html>
  <head>
    <title>Holoscape conductor config</title>
    <script>window.$ = window.jQuery = require('jquery');</script>
    <script>const Vue = require('vue/dist/vue.common');</script>
    <script>require('popper.js');</script>
    <script>require('bootstrap');</script>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="common.css">
    <style>
      .error {
        color: red;
      }
      .info {
        color: blue;
      }
      .modal-spinner {
        margin: 20px;
      }
      .file-column {
        max-width: 400px;
        word-break: break-all;
      }
    </style>
  </head>
  <body>

    <div id="app" class="container">
      <h1> Holchain Conductor Config</h1>
      <!--
      <div><span>DNAs:</span><span>{{ dnas }}</span></div>
      <div><span>Instances:</span><span>{{ instances }}</span></div>
      <div><span>Interfaces:</span><span>{{ interfaces }}</span></div>
      <div><span>agents:</span><span>{{ agents }}</span></div>
      -->
      <ul class="list-group">
      <li class="list-group-item">
        <h2>Agents</h2>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
                <th scope="col">Keystore file</th>
                <th scope="col">actions</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="agent in agents">
                <td>{{ agent.id }}</td>
                <td>{{ agent.name }}</td>
                <td>{{ agent.address }}</td>
                <td class="file-column">{{ agent.keystore_file }}</td>
                <td><button type="button" class="btn btn-danger" data-dismiss="modal" disabled="true">Remove agent</button></td>
              </tr>
            </tbody>
        </table>
        <button id="add-agent" type="button" class="btn btn-primary" data-toggle="modal" data-target="#agent-modal">Add Agent</button>
        <!-- Modal -->
        <div class="modal fade" id="agent-modal" tabindex="-1" role="dialog" aria-labelledby="agent-modal" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Adding an agent...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="form-group">
                    <label for="agent-id">ID</label>
                    <input type="text" class="form-control" id="agent-id" aria-describedby="agent-id-help" placeholder="Enter new agent's ID">
                    <small id="agent-id-help" class="form-text text-muted">This is the ID by which the agent is referenced when used to create an instance.</small>
                  </div>
                  <div class="form-group">
                    <label for="agent-name">Name</label>
                    <input type="text" class="form-control" id="agent-name" aria-describedby="agent-name-help" placeholder="Enter new agent's nick name">
                    <small id="agent-name-help" class="form-text text-muted">This is an arbitrary nick name that can be used to attach a specific meaning to this agent.</small>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" :disabled="loading">Close</button>
                <button id="add-agent-button" type="button" class="btn btn-primary" :disabled="loading">Create agent</button>
              </div>
              <div v-if="loading"><img class="modal-spinner" src="../images/ajax-loader.gif"></image></div>
              <div class="alert alert-danger error" v-if="error">{{error}}</div>
            </div>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <h2>DNAs</h2>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Hash</th>
                <th scope="col">actions</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="dna in dnas">
                <td>{{ dna.id }}</td>
                <td>{{ dna.hash }}</td>
                <td><button type="button" class="btn btn-danger" :data-id="dna.id" disabled="true">Uninstall</button></td>
              </tr>
            </tbody>
        </table>
        <button id="add-dna" type="button" class="btn btn-primary" data-toggle="modal" data-target="#dna-modal">Add DNA</button>
        <!-- Modal -->
        <div class="modal fade" id="dna-modal" tabindex="-1" role="dialog" aria-labelledby="dna-modal" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Install DNA from file...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="form-group">
                    <label for="agent-id">ID</label>
                    <input type="text" class="form-control" id="dna-id" aria-describedby="dna-id-help" placeholder="Enter new DNA's ID">
                    <small id="dna-id-help" class="form-text text-muted">This is the ID by which the DNA is referenced when used to create an instance.</small>
                  </div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroupFileAddon01">DNA file</span>
                    </div>
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="dna-file" aria-describedby="inputGroupFileAddon01">
                      <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" :disabled="loading">Close</button>
                <button id="install-dna-button" type="button" class="btn btn-primary" :disabled="loading">Install DNA</button>
              </div>
              <div v-if="loading"><img class="modal-spinner" src="../images/ajax-loader.gif"></image></div>
              <div class="alert alert-danger error" v-if="error">{{error}}</div>
            </div>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <h2>Instances</h2>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">DNA ID</th>
                <th scope="col">Agent ID</th>
                <th scope="col">actions</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="instance in instances">
                <td>{{ instance.id }}</td>
                <td>{{ instance.dna }}</td>
                <td>{{ instance.agent }}</td>
                <td><button type="button" class="btn btn-danger" data-dismiss="modal" disabled="true">Remove instance</button></td>
              </tr>
            </tbody>
        </table>
        <button id="add-agent" type="button" class="btn btn-primary" data-toggle="modal" data-target="#instance-modal">Add Instance</button>
        <!-- Modal -->
        <div class="modal fade" id="instance-modal" tabindex="-1" role="dialog" aria-labelledby="instance-modal" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Adding an instance...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="form-group">
                    <label for="instance-id">ID</label>
                    <input type="text" class="form-control" id="instance-id" aria-describedby="agent-id-help" placeholder="Enter new instance's ID">
                    <small id="instance-id-help" class="form-text text-muted">This is the ID by which the instance is referenced when used in an interface.</small>
                  </div>
                  <div class="form-group">
                    <label for="instance-dna-id">DNA ID</label>
                    <select class="form-control form-control-lg" id="instance-dna-id">
                      <option v-for="dna in dnas">{{dna.id}}</option>
                    </select>
                    <small id="instance-dna-id-help" class="form-text text-muted">Please select one of the existing DNAs.</small>
                  </div>
                  <div class="form-group">
                    <label for="instance-agent-id">Agent ID</label>
                    <select class="form-control form-control-lg" id="instance-agent-id">
                      <option v-for="agent in agents">{{agent.id}}</option>
                    </select>
                    <small id="instance-agent-id-help" class="form-text text-muted">Please select one of the existing agents.</small>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" :disabled="loading">Close</button>
                <button id="add-instance-button" type="button" class="btn btn-primary" :disabled="loading">Create instance</button>
              </div>
              <div v-if="loading"><img class="modal-spinner" src="../images/ajax-loader.gif"></image></div>
              <div class="alert alert-danger error" v-if="error">{{error}}</div>
            </div>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <h2>Interfaces</h2>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Driver</th>
                <th scope="col">admin</th>
                <th scope="col">instances</th>
                <th scope="col">actions</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="interface in interfaces">
                <td>{{ interface.id }}</td>
                <td>{{ interface.driver }}</td>
                <td>{{ interface.admin }}</td>
                <td>{{ interface.instances }}</td>
                <td>
                  <button type="button" class="btn btn-success add-instance-to-interface-button" :data-id="interface.id" v-on:click="addInstanceToInterfaceClick">Add instance</button>
                  <button type="button" class="btn btn-danger" :data-id="interface.id" disabled="true">Remove interface</button>
                </td>
              </tr>
            </tbody>
        </table>
        <button id="add-interface" type="button" class="btn btn-primary" data-toggle="modal" data-target="#interface-modal">Add Interface</button>
        <!-- Modal -->
        <div class="modal fade" id="interface-modal" tabindex="-1" role="dialog" aria-labelledby="interface-modal" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Adding an interface...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="form-group">
                    <label for="instance-id">ID</label>
                    <input type="text" class="form-control" id="interface-id" aria-describedby="agent-id-help" placeholder="Enter new interface's ID">
                    <small id="instance-id-help" class="form-text text-muted">This is the ID by which the interface is referenced when connected to a UI.</small>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="interface-admin">
                    <label class="form-check-label" for="defaultCheck1">
                      Admin Interface
                    </label>
                    <small id="instance-dna-id-help" class="form-text text-muted">If checked, the conductor can be administered through this interface (i.e. all the settings in this window can be changed through that interface).</small>
                  </div>
                  <div class="form-group">
                    <label for="instance-agent-id">Connection Type</label>
                    <select class="form-control form-control-lg" id="interface-type">
                      <option>http</option>
                      <option>websocket</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="interface-port">Port</label>
                    <input type="text" class="form-control" id="interface-port" aria-describedby="agent-id-help" placeholder="Enter a network port">
                    <small id="interface-port-help" class="form-text text-muted">This must be a number.</small>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" :disabled="loading">Close</button>
                <button id="add-interface-button" type="button" class="btn btn-primary" :disabled="loading">Create interface</button>
              </div>
              <div v-if="loading"><img class="modal-spinner" src="../images/ajax-loader.gif"></image></div>
              <div class="alert alert-danger error" v-if="error">{{error}}</div>
            </div>
          </div>
        </div>
         <!-- Modal -->
         <div class="modal fade" id="interface-add-instance-modal" tabindex="-1" role="dialog" aria-labelledby="interface-add-instance-modal" aria-hidden="true">
           <div id="interface-instance-data"><</div>
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="interface-instance-add-title">Adding an instance to interface...</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="form-group">
                      <label for="interface-instance-id">Instance to add</label>
                      <select class="form-control form-control-lg" id="interface-instance-id">
                        <option v-for="instance in instances">{{instance.id}}</option>
                      </select>
                      <small id="instance-dna-id-help" class="form-text text-muted">Please select one of the existing instances.</small>
                    </div>
                  </form>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal" :disabled="loading">Close</button>
                  <button id="add-interface-instance-button" type="button" class="btn btn-primary" :disabled="loading">Add instance</button>
                </div>
                <div v-if="loading"><img class="modal-spinner" src="../images/ajax-loader.gif"></image></div>
                <div class="alert alert-danger error" v-if="error">{{error}}</div>
              </div>
            </div>
          </div>
      </li>


      <li class="list-group-item">
        <h2>Bridges</h2>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Handle</th>
                <th scope="col">Caller ID</th>
                <th scope="col">Callee ID</th>
                <th scope="col">actions</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="bridge in bridges">
                <td>{{ bridge.handle }}</td>
                <td>{{ bridge.caller_id }}</td>
                <td>{{ bridge.callee_id }}</td>
                <td><button type="button" class="btn btn-danger" data-dismiss="modal" disabled="true">Remove bridge</button>
                </td>
              </tr>
            </tbody>
        </table>
        <button id="add-bridge" type="button" class="btn btn-primary" data-toggle="modal" data-target="#bridge-modal">Add Bridge</button>
        <!-- Modal -->
        <div class="modal fade" id="bridge-modal" tabindex="-1" role="dialog" aria-labelledby="bridge-modal" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Adding a bridge...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="form-group">
                      <label for="instance-id">Handle</label>
                      <input type="text" class="form-control" id="bridge-handle" aria-describedby="agent-id-help" placeholder="Enter bridge handle">
                      <small id="instance-id-help" class="form-text text-muted">The.</small>
                    </div>
                  <div class="form-group">
                    <label for="caller-id">Caller ID</label>
                    <select class="form-control form-control-lg" id="bridge-caller-id">
                      <option v-for="instance in instances">{{instance.id}}</option>
                    </select>
                    <small id="caller-id-help" class="form-text text-muted">Please select one of the existing instances as caller for this bridge.</small>
                  </div>
                  <div class="form-group">
                    <label for="callee-id">Callee ID</label>
                    <select class="form-control form-control-lg" id="bridge-callee-id">
                      <option v-for="instance in instances">{{instance.id}}</option>
                    </select>
                    <small id="callee-id-help" class="form-text text-muted">Please select one of the existing instances as callee for this bridge.</small>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" :disabled="loading">Close</button>
                <button id="add-bridge-button" type="button" class="btn btn-primary" :disabled="loading">Add bridge</button>
              </div>
              <div v-if="loading"><img class="modal-spinner" src="../images/ajax-loader.gif"></image></div>
              <div class="alert alert-danger error" v-if="error">{{error}}</div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    </div>

    <script type="text/javascript" src="conductor_config.js"></script>
    <script>


    </script>




  </body>
</html>
