<html>
  <head>
    <title>Holoscape conductor log</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="common.css">
    <style>
      .error {
        color: red;
      }
      .info {
        color: white;
      }
      ul {
        list-style-type: none;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <ul id="example-1">
        <li v-for="log in logs">
          <div :class="log.level" v-html="log.message">
          </div>
        </li>
      </ul>
    </div>

    <script>
      var ipcRenderer = require('electron').ipcRenderer;
      var Convert = require('ansi-to-html');
      var convert = new Convert({newline: true});

      var app = new Vue({
        el: '#app',
        data: {
          logs: require('electron').remote.getGlobal('holoscape').logMessages
        }
      })

      ipcRenderer.on('log', (event,store) => {
        let {level, message} = store
        message = convert.toHtml(message)
        app.logs.push({level, message})
      });

    </script>
  </body>
</html>
