<html>
  <head>
    <title>Holoscape instance debug view</title>
    <script>window.$ = window.jQuery = require('jquery');</script>
    <script>const Vue = require('vue/dist/vue.common');</script>
    <script>require('popper.js');</script>
    <script>require('bootstrap');</script>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="common.css">
    <style>
      .error {
        color: red;
      }
      .info {
        color: blue;
      }
      .modal-spinner {
        margin: 20px;
      }
      .actions {
        max-height:420px;
        overflow:auto;
        background:#bbb;
      }
      .action {
          cursor: pointer;
      }
      .clickFetch {
          cursor: pointer;
      }
      .list-group-item label {
          color: black;
      }
      .action.badge-light {
          color: black;
      }
      .zome-call {
          word-wrap: break-word;
      }
      .zome-call .zome-call-container {
          word-wrap: break-word;
          overflow: scroll;
      }
    </style>
  </head>
  <body>

    <div id="app" class="container">
      <h1> Holoscape instance debug view</h1>
      <!--
      <div><span>DNAs:</span><span>{{ dnas }}</span></div>
      <div><span>Instances:</span><span>{{ instances }}</span></div>
      <div><span>Interfaces:</span><span>{{ interfaces }}</span></div>
      <div><span>agents:</span><span>{{ agents }}</span></div>
      -->
      <ul class="list-group">
      <li class="list-group-item" v-for="(dump, instance_id, index) in stateDumps">
        <h2>
            <a data-toggle="collapse" v-bind:href="'#'+sanitizeName(instance_id)" role="button" aria-expanded="false" v-bind:aria-controls="sanitizeName(instance_id)">
                {{ instance_id }}
            </a>
        </h2>
        <button class="btn btn-primary" v-on:click="updateStateDump(instance_id)">Update state dump</button>
        <input type="checkbox" v-bind:id="sanitizeName(instance_id)-dump-check" v-model="refreshDump[instance_id]">
        <label for="sanitizeName(instance_id)-dump-check">Live refresh</label>
        <input type="checkbox" v-bind:id="sanitizeName(instance_id)-actions-check" v-model="updateActions[instance_id]">
        <label for="sanitizeName(instance_id)-actions-check">Update actions</label>
                

        <ul class="list-group collapse" v-bind:id="sanitizeName(instance_id)">
            <li class="list-group-item">
                <h3>Core Actions</h3>
                
                <ul class="actions" v-chat-scroll>
                    <li class="action" v-for="(action, index) in reduxActions[instance_id]">
                        <div>
                            <a data-toggle="collapse" 
                                v-on:click="showAction(action)" 
                                role="button" aria-expanded="false" 
                                :class="'badge badge-pill badge-' + actionTypeToBadge(action.action_type)"
                            >
                                {{ action.action_type }}
                            </a>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="list-group-item">
                <h3>
                    <a data-toggle="collapse" v-bind:href="'#'+sanitizeName(instance_id)+'-source-chain'" role="button" aria-expanded="false" v-bind:aria-controls="sanitizeName(instance_id)+'-source-chain'">
                        Source Chain
                    </a>
                </h3>
                <div v-bind:id="sanitizeName(instance_id)+'-source-chain'" class="card collapse" v-for="header in dump.source_chain">
                    <div class="card-body">
                        <h5 class="card-title">{{header.entry_type}} - {{header.entry_address}}</h5>
                        <table class="table">
                            <tbody>
                                <tr><td>Timestamp:</td><td>{{ header.timestamp }}</td></tr>
                                <tr><td>Sources:</td><td>{{ header.provenances.map((p)=>p[0]).join(", ") }}</td></tr>
                                <tr><td>Header address:</td><td>{{ header.address }}</td></tr>
                                <tr><td>Prev. header:</td><td>{{ header.link }}</td></tr>
                            </tbody>
                        </table>
                        <div class="alert alert-dark" role="alert" :class="{clickFetch: contents[header.entry_address]==undefined}" v-on:click="updateContent(header.entry_address, instance_id)">{{ contents[header.entry_address] ? contents[header.entry_address].content : 'click to fetch' }}</div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <h3>
                    <a data-toggle="collapse" v-bind:href="'#'+sanitizeName(instance_id)+'-dht'" role="button" aria-expanded="false" v-bind:aria-controls="sanitizeName(instance_id)+'-dht'">
                        DHT
                    </a>
                </h3>
                <div class="collapse" v-bind:id="sanitizeName(instance_id)+'-dht'">
                        <span>Held entries:</span>
                        <ul>
                            <li v-for="address in dump.held_entries">
                                    <table class="table">
                                        <tbody>
                                            <tr><td>Type:</td><td>{{ contents[address] ? contents[address].type : 'fetching...' }}</td></tr>
                                            <tr><td>Address:</td><td>{{ address }}</td></tr>
                                        </tbody>
                                    </table>
                                    <div class="alert alert-dark" :class="{clickFetch: contents[address]==undefined}" v-on:click="updateContent(address, instance_id)" role="alert">{{ contents[address] ? contents[address].content : 'click to fetch' }}</div>
                            </li>
                        </ul>
                </div>
            </li>
            <li class="list-group-item">
                <h3>
                    <a data-toggle="collapse" v-bind:href="'#'+sanitizeName(instance_id)+'nucleus'" role="button" aria-expanded="false" v-bind:aria-controls="sanitizeName(instance_id)+'nucleus'">
                        Nucleus
                    </a>
                </h3>
                <table v-bind:id="sanitizeName(instance_id)+'nucleus'" class="table collapse zome-call-container">
                    <tbody>
                        <tr>
                            <td>Queued zome calls:</td>
                            <td><ul>
                                <li v-for="call in dump.queued_calls" class="zome-call">
                                {{`${call.zome_name}.${call.fn_name}(${call.parameters})`}}
                                </li></ul>
                            </td>
                        </tr>
                        <tr>
                            <td>Running zome calls:</td>
                            <td><ul>
                                <li v-for="call in dump.running_calls" class="zome-call">
                                {{`${call.zome_name}.${call.fn_name}(${call.parameters})`}}
                                </li></ul>
                            </td>
                        <tr>
                            <td>Zome call results:</td>
                            <td><ul>
                                <li v-for="call in dump.call_results" class="zome-call">
                                {{`${call[0].zome_name}.${call[0].fn_name}(${call[0].parameters}) => ${JSON.stringify(call[1])}`}}
                                </li></ul>
                            </td>
                    </tbody>
                </table>
            </li>
            <li class="list-group-item">
                <h3>
                    <a data-toggle="collapse" v-bind:href="'#'+sanitizeName(instance_id)+'network'" role="button" aria-expanded="false" v-bind:aria-controls="sanitizeName(instance_id)+'network'">
                        Network
                    </a>
                </h3>
                <table v-bind:id="sanitizeName(instance_id)+'network'" class="table collapse">
                    <tbody>
                        <tr><td>Queries:</td><td>{{ dump.query_flows }}</td></tr>
                        <tr><td>Validation Package Requests:</td><td>{{ dump.validation_package_flows }}</td></tr>
                        <tr><td>Direct message sessions:</td><td>{{ dump.direct_message_flows }}</td></tr>
                    </tbody>
                </table>
            </li>
        </ul>
      </li>  
      </ul>
      <button type="button" class="btn btn-primary" v-on:click="refresh()">Refresh instances</button>
    </div>

    <script>
        const { ipcRenderer } = require('electron')
        const VueChatScroll = require('vue-chat-scroll')
        Vue.use(VueChatScroll)
        
        let configured = false

        ipcRenderer.on('conductor-call-set', () => {
            if(configured) return
            configured = true

            const remote = require('electron').remote
            const happUiController = remote.getGlobal('holoscape').happUiController
            const call = remote.getGlobal('conductor_call')

            const refresh = () => {
              call('debug/running_instances')().then((instances)=>{
                  instances.map((instance_id) => {
                      app.updateStateDump(instance_id)
                      Vue.set(app.updateActions, instance_id, false)
                      Vue.set(app.refreshDump, instance_id, false)
                      app.instances.push(instance_id)
                    })
                })
            }

            setInterval(() => {
                for(let instance of app.instances) {
                    if(app.refreshDump[instance]) {
                        app.updateStateDump(instance)
                    }
                }
            }, 1500)

            const fetch_cas = async (address, instance_id) => {
                return await call('debug/fetch_cas')({instance_id, address})
            }

            const updateContent = async (address, instance_id) => {
                Vue.set(app.contents, address, await fetch_cas(address, instance_id))
            }

            const syntaxHighlight = (json) => {
                if (typeof json != 'string') {
                    json = JSON.stringify(json, undefined, 2);
                }
                json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
                return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
                    var cls = 'number';
                    if (/^"/.test(match)) {
                        if (/:$/.test(match)) {
                            cls = 'key';
                        } else {
                            cls = 'string';
                        }
                    } else if (/true|false/.test(match)) {
                        cls = 'boolean';
                    } else if (/null/.test(match)) {
                        cls = 'null';
                    }
                    return '<span class="' + cls + '">' + match + '</span>';
                });
            }

            var app = new Vue({
                el: '#app',
                data: {
                  instances: [],  
                  reduxActions: {},  
                  stateDumps: {},
                  refreshDump: {},
                  contents: {},
                  updateActions: {},
                  updateStateDump: (instance_id) => {
                      console.log(`Update state dump with: ${instance_id}`)
                      call('debug/state_dump')({instance_id})
                        .then((dump) => {
                            console.log("Got state dump: ", dump)
                            Vue.set(app.stateDumps, instance_id, dump)
                        })
                        .catch((error) => {
                            console.log("Error getting dump:", error)
                        })
                  },
                  refresh: refresh,
                  fetch_cas,
                  updateContent,
                  syntaxHighlight,
                  actionTypeToBadge: (actionType) => {
                      switch(actionType) {
                          case "SignalZomeFunctionCall": return "info"
                          case "ReturnZomeFunctionResult": return "info"
                          case "ReturnValidationPackage": return "secondary"
                          case "ReturnValidationResult": return "secondary"
                          case "Commit": return "success"
                          case "Publish": return "success"
                          case "Hold": return "danger"
                          case "Query": return "light"
                          case "RespondQuery": return "dark"
                          case "HandleQuery": return "light"
                          case "QueryTimeout": return "warning"
                          default: return "primary"
                      }
                  },
                  sanitizeName: (name) => {
                    name = name
                        .split('_').join('-')
                        .split(' ').join('-')
                        .split('&').join('-')
                        .split('#').join('-')
                        .split('.').join('-')
                        .split('$').join('-')
                        .toLowerCase()
                    return name
                  },
                  showAction: (action) => {
                      window.alert(JSON.stringify(action))
                  }
                }
            })

            ipcRenderer.on('hc-signal', (event, params) => {
                let { signal, instance_id } = params
                if(!signal) {
                    console.log("Got strange signal without 'signal' property:", params)
                    return
                }
                if(!instance_id) {
                    console.log("Got strange signal without 'instance_id' property:", params)
                    return
                }

                if(signal.signal_type != "Trace") {
                    // Ignoring non-trace signals
                    return
                }
                if(!app.reduxActions[instance_id]) {
                    Vue.set(app.reduxActions, instance_id, [])
                }
                if(!app.updateActions[instance_id]) {
                    return
                }
                if(!signal.action) {
                    console.log("Got strange trace signal without 'action' property:", params)
                    return
                }

                app.reduxActions[instance_id].push(signal.action)
            })

            refresh()
            window.app = app
            window.call = call
        })
    </script>




  </body>
</html>
