<html>
  <head>
    <title>Holoscape instance debug view</title>
    <script>window.$ = window.jQuery = require('jquery');</script>
    <script>require('popper.js');</script>
    <script>require('bootstrap');</script>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="common.css">
    <style>
      .error {
        color: red;
      }
      .info {
        color: blue;
      }
      .modal-spinner {
        margin: 20px;
      }
      .actions {
        max-height:420px;
        overflow:auto;
        background:#bbb;
      }
      .action {
          cursor: pointer;
      }
      .clickFetch {
          cursor: pointer;
      }
      .list-group-item label {
          color: black;
      }
      .badge-light, .black {
          color: black;
      }
      .zome-call {
          word-wrap: break-word;
      }
      .zome-call .zome-call-container {
          word-wrap: break-word;
          overflow: scroll;
      }
      .light-blue-background {
          background: lightblue !important;
      }
      .light-green-background {
          background: lightgreen !important;
      }
    </style>
  </head>
  <body>

    <div id="app">
      <h1> Holoscape instance debug view</h1>
      <ul class="list-group">
      <li class="list-group-item" v-for="instance_id in instances">
        <h2>
            <a data-toggle="collapse" v-bind:href="'#'+sanitizeName(instance_id)" role="button" aria-expanded="false" v-bind:aria-controls="sanitizeName(instance_id)">
                {{ instance_id }}
            </a>
        </h2>
        <div v-if="stats[instance_id]">
            <div>Holding entries/aspects: <span class="badge badge-primary">{{stats[instance_id].number_held_entries}}/{{stats[instance_id].number_held_aspects}}</span></div>
            <div>Pending validations: <span class="badge badge-primary">{{stats[instance_id].number_pending_validations}}</span></div>
            <div>Running zome calls: <span class="badge badge-primary">{{stats[instance_id].number_running_zome_calls}}</span></div>
        </div>

        <ul class="list-group" v-bind:id="sanitizeName(instance_id)">
            <li class="list-group-item">
                <h3>Core Actions</h3>
                
                <ul class="actions" v-chat-scroll>
                    <li class="action" v-for="(action, index) in reduxActions[instance_id]">
                        <div>
                            <a data-toggle="collapse" 
                                v-on:click="showAction(action)" 
                                role="button" aria-expanded="false" 
                                :class="'badge badge-pill badge-' + actionTypeToBadge(action.action_type)"
                            >
                                {{ action.action_type }}
                            </a>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="list-group-item">
                <h3>
                    <a data-toggle="collapse" v-bind:href="'#'+sanitizeName(instance_id)+'-source-chain'" role="button" aria-expanded="false" v-bind:aria-controls="sanitizeName(instance_id)+'-source-chain'">
                        Source Chain
                    </a>
                </h3>

                <div v-bind:id="sanitizeName(instance_id)+'-source-chain'" class="card collapse">
                    <v-data-table
                        caption="Source Chain"
                        :headers="chainHeaders"
                        :items="sourceChains[instance_id]"
                        :search="chainSearch"
                        show-expand
                        class="elevation-1"
                        item-key="header.entry_address"
                        disable-sort
                    >
                        <template v-slot:top>
                            <v-toolbar flat>
                                <v-text-field
                                v-model="chainSearch"
                                label="Search"
                                single-line
                                hide-details
                                ></v-text-field>
                            </v-toolbar>
                        </template>
                        <template v-slot:item.header.entry_type="{ item }">
                            <v-chip v-if="typeof item.header.entry_type == 'string'" class="light-blue-background" >{{ item.header.entry_type }}</v-chip>
                            <v-chip v-if="typeof item.header.entry_type == 'object'" class="light-green-background" >{{ item.header.entry_type['App'] }}</v-chip>
                        </template>
                        <template v-slot:item.header.provenances="{ item }">
                            <span>{{ item.header.provenances.map((p)=>p[0]).join(', ') }}</span>
                    </template>
                    <template v-slot:expanded-item="{ headers, item }">
                        <td :colspan="headers.length">
                            <div>{{ item.entry }}</div>
                            </td>
                        </template>
                    </v-data-table>
                </div>
            </li>
            <li class="list-group-item">
                <h3>
                    <a data-toggle="collapse" v-bind:href="'#'+sanitizeName(instance_id)+'-dht'" role="button" aria-expanded="false" v-bind:aria-controls="sanitizeName(instance_id)+'-dht'">
                        DHT
                    </a>
                </h3>
                <div class="collapse" v-bind:id="sanitizeName(instance_id)+'-dht'">
                        <h4>Validation queue:</h4>
                        <v-data-table
                            :headers="queueHeaders"
                            :items="validationQueues[instance_id].map((i) => {
                                return {
                                    address: i.pending.entry_with_header.header.entry_address,
                                    workflow: i.pending.workflow,
                                    dependencies: i.pending.dependencies,
                                    entry_with_header: i.pending.entry_with_header,
                                    timeout: i.timeout
                                };
                            })"
                            :search="queueSearch"
                            show-expand
                            class="elevation-1"
                            item-key="address"
                            disable-sort
                        >
                            <template v-slot:top>
                                <v-toolbar flat>
                                    <v-text-field
                                    v-model="queueSearch"
                                    label="Search"
                                    single-line
                                    hide-details
                                    ></v-text-field>
                                </v-toolbar>
                            </template>
                            <template v-slot:item.timeout="{ item }">
                                    <span v-if="item.timeout">{{item.timeout.delay}}</span>
                                    <span v-if="!item.timeout">n/a</span>
                            </template>
                            <template v-slot:expanded-item="{ headers, item }">
                                <td :colspan="headers.length">
                                    {{ item.entry_with_header }}
                                </td>
                            </template>
                        </v-data-table>
                        <h4>Held entries:</h4>
                        <v-data-table
                            :headers="heldHeaders"
                            :items="Object.keys(holdingMaps[instance_id]).map((address) => {
                                return {address, aspects: holdingMaps[instance_id][address]};
                              })"
                            :search="heldSearch"
                            show-expand
                            class="elevation-1"
                            item-key="address"
                            disable-sort
                        >
                            <template v-slot:top>
                                <v-toolbar flat>
                                    <v-text-field
                                    v-model="heldSearch"
                                    label="Search"
                                    single-line
                                    hide-details
                                    ></v-text-field>
                                </v-toolbar>
                            </template>
                            <template v-slot:item.type="{ item }">
                                    <div :class="{clickFetch: contents[item.address]==undefined}" v-on:click="updateContent(item.address, instance_id)" role="alert">{{ contents[item.address] ? contents[item.address].type : 'get type' }}</div>
                            </template>
                            <template v-slot:item.content="{ item }">
                                    <div :class="{clickFetch: contents[item.address]==undefined}" v-on:click="updateContent(item.address, instance_id)" role="alert">{{ contents[item.address] ? contents[item.address].content : 'get content' }}</div>
                            </template>
                            <template v-slot:expanded-item="{ headers, item }">
                                <td :colspan="headers.length">
                                    {{ item.aspects }}
                                </td>
                            </template>
                        </v-data-table>
                </div>
            </li>
            <li class="list-group-item">
                <h3>
                    <a data-toggle="collapse" v-bind:href="'#'+sanitizeName(instance_id)+'nucleus'" role="button" aria-expanded="false" v-bind:aria-controls="sanitizeName(instance_id)+'nucleus'">
                        Nucleus
                    </a>
                </h3>
                <table v-bind:id="sanitizeName(instance_id)+'nucleus'" class="table collapse zome-call-container">
                    <tbody>
                        <tr>
                            <td>Queued zome calls:</td>
                            <td><ul>
                                <li v-for="call in stateDumps[instance_id].queued_calls" class="zome-call">
                                {{`${call.zome_name}.${call.fn_name}(${call.parameters})`}}
                                </li></ul>
                            </td>
                        </tr>
                        <tr>
                            <td>Running zome calls:</td>
                            <td><ul>
                                <li v-for="call in stateDumps[instance_id].running_calls" class="zome-call">
                                {{`${call[0].zome_name}.${call[0].fn_name}(${call[0].parameters})`}}
                                <br>
                                HDK calls: {{call[1]}}
                                </li></ul>
                            </td>
                        <tr>
                            <td>Zome call results:</td>
                            <td><ul>
                                <li v-for="call in stateDumps[instance_id].call_results" class="zome-call">
                                {{`${call[0].zome_name}.${call[0].fn_name}(${call[0].parameters}) => ${JSON.stringify(call[1])}`}}
                                </li></ul>
                            </td>
                    </tbody>
                </table>
            </li>
            <li class="list-group-item">
                <h3>
                    <a data-toggle="collapse" v-bind:href="'#'+sanitizeName(instance_id)+'network'" role="button" aria-expanded="false" v-bind:aria-controls="sanitizeName(instance_id)+'network'">
                        Network
                    </a>
                </h3>
                <table v-bind:id="sanitizeName(instance_id)+'network'" class="table collapse">
                    <tbody>
                        <tr><td>Queries:</td><td>{{ stateDumps[instance_id].query_flows }}</td></tr>
                        <tr><td>Validation Package Requests:</td><td>{{ stateDumps[instance_id].validation_package_flows }}</td></tr>
                        <tr><td>Direct message sessions:</td><td>{{ stateDumps[instance_id].direct_message_flows }}</td></tr>
                    </tbody>
                </table>
            </li>
        </ul>
      </li>  
      </ul>
    </div>

    <script type="text/javascript" src="debug_view.dist.js"></script>




  </body>
</html>
