<html>
  <head>
    <title>Holoscape - Install hApp</title>
    <script> window.$ = window.jQuery = require('jquery'); </script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="common.css">
    <style>
      .error {
        color: red;
      }
      .info {
        color: blue;
      }
      .modal-spinner {
        margin: 20px;
      }
      .actions {
        max-height:420px;
        overflow:auto;
        background:#bbb;
      }
      .name {
          font-weight: bold;
      }
    </style>
  </head>
  <body>

    <div id="app" class="container">
      <h1> Holoscape - Install hApp</h1>
      <!--
      <div><span>DNAs:</span><span>{{ dnas }}</span></div>
      <div><span>Instances:</span><span>{{ instances }}</span></div>
      <div><span>Interfaces:</span><span>{{ interfaces }}</span></div>
      <div><span>agents:</span><span>{{ agents }}</span></div>
      -->
      <ul class="list-group">
      <li class="list-group-item">
          <h3>Please select a bundle file to install</h3>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupFileAddon01">Bundle file</span>
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="bundle-file" 
                            aria-describedby="inputGroupFileAddon01" ref="bundleFile" @change="loadBundle">
                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                    </div>
                </div>
                <div v-if="fileError" class="alert alert-danger">{{ fileError }}</div>
      </li>
      <li v-if="bundle" class="list-group-item">
          <h3>DNAs in this bundle</h3>
          <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">DNA Hash</th>
                        <!--<th scope="col">URI</th>-->
                        <th scope="col">file status</th>
                        <th scope="col">installation status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="instance in bundle.instances">
                        <td class="name">{{ instance.name }}</td>
                        <td>{{ instance.dna_hash }}</td>
                        <!--<td>{{ instance.uri }}</td>-->
                        <td>
                            <div class="badge badge-warning" v-if="instance.downloadStatus == 'pending'">
                                Downloading
                                <div class="spinner-border" role="status">
                                        <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                            <div class="alert alert-danger" v-if="instance.error">{{instance.error}}</div>
                            <div class="badge badge-success" v-if="instance.downloadStatus == 'done'">Ready</div>
                        </td>
                        <!-- <td v-if="instanceStatus[instance.id] == 'installed'">
                            <span class="badge badge-success">Already installed</span>
                        </td>
                        <td v-if="instanceStatus[instance.id] != 'installed'">
                            -->
                        <td>
                            <span class="badge badge-danger" v-if="instance.downloadStatus=='error'">Can't install</span>
                            <span class="badge badge-info" 
                                v-if="instance.downloadStatus=='pending' || (instance.downloadStatus=='done' && instance.installStatus==undefined)">
                                To be installed...
                            </span>
                            <span class="badge badge-dark" v-if="instance.installStatus=='installing'">Installing...</span>
                            <div class="spinner-border" role="status" v-if="instance.installStatus == 'installing'">
                                <span class="sr-only">Installing...</span>
                            </div>
                            <span class="badge badge-success" v-if="instance.installStatus=='installed'">Installed!</span>
                        </td>
                    </tr>
                </tbody>
          </table>
      </li>
      <li v-if="bundle" class="list-group-item">
            <h3>Bridges to setup</h3>
            <table class="table">
                  <thead class="thead-light">
                      <tr>
                          <th scope="col">From (caller)</th>
                          <th scope="col">Handle</th>
                          <th scope="col">To (callee)</th>
                          <th scope="col">status</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr v-for="(bridge, index) in bundle.bridges">
                          <td>{{ instanceById(bridge.caller_id).name }}</td>
                          <td>{{ bridge.handle }}</td>
                          <td>{{ instanceById(bridge.callee_id).name }}</td>
                          <!--<td v-if="bridgeStatus[index] == 'installed'">
                              <span class="badge badge-success">Already installed</span>
                          </td>
                          <td v-if="bridgeStatus[index] != 'installed'">-->
                          <td>
                            <span class="badge badge-info" v-if="bridge.installStatus==undefined">To be installed...</span>
                            <span class="badge badge-dark" v-if="bridge.installStatus=='installing'">Installing...</span>
                            <div class="spinner-border" role="status" v-if="bridge.installStatus == 'installing'">
                                <span class="sr-only">Installing...</span>
                            </div>
                            <span class="badge badge-success" v-if="bridge.installStatus=='installed'">Installed!</span>
                          </td>
                      </tr>
                  </tbody>
            </table>
        </li>
        <li v-if="bundle" class="list-group-item">
                <h3>UIs to install</h3>

                <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Instance references</th>
                                <!--<th scope="col">URI</th>-->
                                <th scope="col">file status</th>
                                <th scope="col">installation status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="ui in bundle.UIs">
                                <td class="name">{{ ui.name }}</td>
                                <td>
                                    <ul>
                                        <li v-for="ref in ui.instance_references">
                                            {{ instanceById(ref.instance_id).name }}
                                        </li>
                                    </ul>
                                </td>
                                <!--<td>{{ ui.uri }}</td>-->
                                <td>
                                    
                                    <div class="badge badge-warning" v-if="ui.downloadStatus == 'pending'">
                                        Downloading
                                        <div class="spinner-border" role="status">
                                                <span class="sr-only">Loading...</span>
                                            </div>
                                    </div>
                                    <div class="alert alert-danger" v-if="ui.error">{{ui.error}}</div>
                                    <div class="badge badge-success" v-if="ui.downloadStatus == 'done'">Ready</div>
                                </td>

                                <td>
                                    <span class="badge badge-danger" v-if="ui.downloadStatus=='error'">Can't install</span>
                                    <span class="badge badge-info" 
                                        v-if="ui.downloadStatus=='pending' || (ui.downloadStatus=='done' && ui.installStatus==undefined)">
                                        To be installed...
                                    </span>
                                    <span class="badge badge-dark" v-if="ui.installStatus=='installing'">Installing...</span>
                                    <div class="spinner-border" role="status" v-if="ui.installStatus == 'installing'">
                                        <span class="sr-only">Installing...</span>
                                    </div>
                                    <span class="badge badge-success" v-if="ui.installStatus=='installed'">Installed!</span>
                                </td>
                            </tr>
                        </tbody>
                  </table>

                <!--
                <ul>
                    <li v-for="ui in bundle.UIs">
                        <h4>{{ ui.name }}</h4>
                        <span>Needs access to the following instances</span>
                        

                        <div v-if="ui.ui_references && ui.ui_references.length > 0">
                            <span>Needs access to the following UIs</span>
                            <ul>
                                <li v-for="ref in ui.ui_references">
                                    {{ ref.ui_id }}
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>-->  
            </li>
      </ul>
      <div class="container">
            <div class="row justify-content-center" v-if="success">
                <div class="col-7">
                    <h2 class="alert alert-success">Bundle successfully installed!</h2>
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="col-7">
                    <button type="button" class="btn btn-success" v-on:click="install" :disabled="!canInstall">Install</button>
                </div>
            </div>
      </div>
    </div>

    <script>
        const { ipcRenderer } = require('electron')
        const toml = require('toml')
        const fs = require('fs')
        const getUri = require('get-uri')
        const temp = require('temp')
        const extract = require('extract-zip')
        const getPort = require('get-port');
        const path = require('path')

        let configured = false

        ipcRenderer.on('conductor-call-set', () => {
            if(configured) return
            configured = true

            const remote = require('electron').remote
            const happUiController = remote.getGlobal('holoscape').happUiController
            const call = remote.getGlobal('conductor_call')


            var app = new Vue({
                el: '#app',
                data: {
                  canInstall: false,
                  file: undefined,
                  fileError: undefined,
                  bundle: undefined,
                  canInstall: false,
                  success: false,
                },
                methods: {
                  loadBundle() {
                    if(this.$refs.bundleFile.files.length > 0) {
                        app.file = this.$refs.bundleFile.files[0]
                        const contents = fs.readFileSync(app.file.path)
                        app.fileError = undefined
                        app.bundle = undefined
                        app.success = false
                        try{
                            app.bundle = toml.parse(contents)
                            this.processBundle()
                        }catch(e){
                            app.fileError = e
                        }
                        
                    }
                  },
                  processBundle() {
                      app.bundle.instances.map((instance) => {
                        console.log("Processing instance:", instance)  
                        instance.tempPath = temp.path()
                        console.log("Temp path for DNA file:", instance.tempPath)  
                        Vue.set(instance, 'downloadStatus', 'pending')
                        let fileStream = fs.createWriteStream(instance.tempPath)
                        console.log("Trying to get URI:", instance.uri)  
                        getUri(instance.uri, (err, rs) => {
                            if(err) {
                                Vue.set(instance, 'error', err.message)
                                Vue.set(instance, 'downloadStatus', 'error')
                                return
                            }
                            rs.pipe(fileStream)
                            rs.on('end', () => {
                                fileStream.end()
                                Vue.set(instance, 'downloadStatus', 'done')
                                this.checkInstallReady()
                            })
                        })
                      })

                      app.bundle.UIs.map((ui) => {
                        console.log("Processing UI:", ui)  
                        ui.tempPath = temp.path()
                        console.log("Temp path for UI file:", ui.tempPath)  
                        Vue.set(ui, 'downloadStatus', 'pending')
                        let fileStream = fs.createWriteStream(ui.tempPath)
                        let uri = ui.uri
                        if(uri.startsWith("file:./")) {
                            const bundlePath = this.$refs.bundleFile.files[0].path
                            let parts = uri.split('/')
                            parts[0] = `file://${path.dirname(bundlePath)}`
                            uri = parts.join('/')
                        }
                        console.log("Trying to get URI:", uri)  
                        getUri(uri, (err, rs) => {
                            if(err) {
                                Vue.set(ui, 'error', err.message)
                                Vue.set(ui, 'downloadStatus', 'error')
                                return
                            }
                            rs.pipe(fileStream)
                            rs.on('end', () => {
                                fileStream.end()
                                Vue.set(ui, 'downloadStatus', 'done')
                                this.checkInstallReady()
                            })
                        })
                      })
                  },
                  instanceById(instanceId) {
                    return app.bundle.instances.find((instance) => instance.id == instanceId)
                  },
                  checkInstallReady() {
                      console.log('checkInstallReady')
                    let all_instances_ok = app.bundle.instances.reduce((acc, instance) => {return instance.downloadStatus == 'done' && acc}, true)
                    let all_uis_ok = app.bundle.UIs.reduce((acc, instance) => {return instance.downloadStatus == 'done' && acc}, true)
                    console.log('instances ok', all_instances_ok)
                    console.log('UIs ok', all_uis_ok)
                    app.canInstall = all_instances_ok && all_uis_ok
                  },
                  async install() {
                    for(instance of app.bundle.instances) {
                        Vue.set(instance, 'installStatus', 'installing')
                        await installInstance(instance)
                        Vue.set(instance, 'installStatus', 'installed')
                    }

                    for(bridge of app.bundle.bridges) {
                        Vue.set(bridge, 'installStatus', 'installing')
                        await addBridge(bridge)
                        Vue.set(bridge, 'installStatus', 'installed')
                    }

                    for(ui of app.bundle.UIs) {
                        Vue.set(ui, 'installStatus', 'installing')
                        await installUi(ui)
                        Vue.set(ui, 'installStatus', 'installed')
                    }

                    app.canInstall = false,
                    app.file = undefined,
                    app.fileError = undefined,
                    app.bundle = undefined,
                    app.canInstall = false
                    app.success = true
                  }
                }
            })

            const installInstance = async (instance) => {
                console.log('Begin installInstance:', instance.name)
                const agent_id = `${instance.name}-agent`
                console.log('Adding agent', agent_id)
                await call('admin/agent/add')({id: agent_id, name: agent_id})
                console.log('Agent added')

                const dna_id = `${instance.name}-dna`
                const path = instance.tempPath
                console.log('Installing DNA', dna_id)
                await call('admin/dna/install_from_file')({id: dna_id, path, copy: true})
                console.log('DNA installed')

                const id = `${instance.name}`
                console.log('Adding instance', id)
                await call('admin/instance/add')({id,dna_id,agent_id})
                console.log('Instance added')

                console.log('Starting instance ', id)
                await call('admin/instance/start')({id})
                console.log('Instance started')
            }

            const addBridge = async (bridge) => {
                console.log('Adding bridge:', bridge)
                let {handle, caller_id, callee_id} = bridge
                let caller = app.bundle.instances.find((instance)=>instance.id==caller_id)
                let callee = app.bundle.instances.find((instance)=>instance.id==callee_id)
                await call('admin/bridge/add')({handle, caller_id: caller.name, callee_id: callee.name})
                console.log('Bridge added')
            }

            const installUi = async (ui) => {
                let extractedPath = temp.path()
                console.log(`Extracting ${ui.name} to ${extractedPath}`)
                await new Promise((resolve, reject)=>{
                    extract(ui.tempPath, {dir: extractedPath}, (err)=>{
                        if(err) reject(err)
                        else resolve()
                    })
                })
                console.log(`Extraction done. Installing UI...`)
                happUiController.installUIFromPath(extractedPath, ui.name)
                console.log(`Done`)

                console.log(`Creating interface for ${ui.name}`)
                let id = `${ui.name}-interface`
                let type = 'websocket'
                let admin = false
                let port = await getPort({port: getPort.makeRange(10000, 31000)})
                await call('admin/interface/add')({id,admin,type,port})

                for(ref of ui.instance_references) {
                    console.log(`Applying UI -> instance reference: ${JSON.stringify(ref)}`)
                    let instance = app.bundle.instances.find((instance)=>instance.id==ref.instance_id)
                    let instance_id = instance.name
                    let interface_id = id
                    let alias = ref.ui_handle
                    console.log(`Adding instance '${instance_id}' to interface '${interface_id}'`)
                    await call('admin/interface/add_instance')({interface_id, instance_id, alias})
                }

                console.log(`Setting UI '${ui.name}' to use interface '${id}'`)
                await happUiController.setUiInterface(ui.name, id)
                console.log(`Completed install of '${ui.name}'`)
            }

            window.app = app
        })
    </script>




  </body>
</html>
