<html>
  <head>
    <title>Holoscape conductor log</title>
    <script> window.$ = window.jQuery = require('jquery'); </script>
    <script>window.$ = window.jQuery = require('jquery');</script>
    <script>const Vue = require('vue/dist/vue.common');</script>
    <script>require('popper.js');</script>
    <script>require('bootstrap');</script>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <style>
     .background {
       background: linear-gradient(45deg, #1a0231f2, #00017f);
       background-image: url(../images/splash_background.jpg);
       background-size: cover;
       background-repeat: no-repeat;
       background-position: center;
     }

     .header {
       position: absolute;
       left: 50%;
       transform: translateX(-50%);
       top: 255px;
       color: white;
       z-index: 1;
       font-family: sans-serif;
       font-size: 95px;
       text-shadow: 4px 5px 5px steelblue;
     }

     .version {
       position: relative;
       right: 10px;
       color: white;
       z-index: 2;
       font-family: sans-serif;
       font-size: 30px;
       font-weight: normal;
       text-align: right;
     }

     .status {
       position: absolute;
       left: 30px;
       bottom: 20px;
       color: white;
       z-index: 1;
       font-family: sans-serif;
       font-size: 45px;
     }

    .logo {
      position: relative;
      width: 100%;
     }
     #title {
      position: absolute;
      transform: translateY(-33%);
      left: 37px;
      top: 50%;
      width: 518px;
     }
     .error {
       color: rgb(238, 153, 153);
     }
     .info {
       color: rgb(173, 192, 245);
     }
     #log {
       position: absolute;
       right: 0;
       bottom: 0;
       padding: 5px;
       color: white;
       text-align: right;
       font-size: 12px;
     }
     ul#log {
       list-style-type: none;
     }
     #network-config-content {
       width: 750px;
     }
     #network-config-wrapper {
      left: -150px;
     }
     .disclaimer {
       font-weight: bold;
     }
     .disclaimer-label {
       font-weight: bold;
       word-wrap: break-word;
     }
     .disclaimer-checkbox {
       display: block;
       float: right;
       transform: scale(1.5);
       margin: 20px;
     }
     .code {
         background-color: lightgray;
         font-family: 'Courier New', Courier, monospace;
         padding: 3px;
         color: #444;
     }
     .clearfix {
       overflow: auto;
     }
    </style>
  </head>
  <body class="background">
    <div id="app">
      <!--<ul id="log">
        <li v-for="log in logs">
          <div :class="log.level" v-html="log.message">
          </div>
        </li>
      </ul>-->
      <div id="title">
        <img class="logo" src="../images/Holoscape_title.png"></img>
        <h3 class="version">Version 0.0.5-alpha</h3>
      </div>
      <div class="status">{{status}}</div>
    
      <div class="modal fade" id="binaries-modal" tabindex="-1" role="dialog" aria-labelledby="binaries-modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Holoscape Error - Missing Binaries</h5>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <p>Holoscape needs both binaries out of the <a href="#" v-on:click="openExternal('https://github.com/holochain/holochain-rust')">holochain-rust</a> repository: <span class='code'>hc</span> and <span class='code'>holochain</span>.</p>
                <p>Depending on the OS, it expects to find either <span class='code'>hc-linux</span> and <span class='code'>holochain-linux</span> or <span class='code'>hc-darwin</span> and <span class='code'>holochain-darwin</span> in the application directory (the root of the repository during development).</p>
                <p>For development you can either build those yourself or get them through Holonix like this:</p>              
  <pre>  $ nix-shell https://holochain.love
    $ cp `which holochain` holochain-linux
    $ cp `which hc` hc-linux</pre>
                <p>(or <span class='code'>holochain-darwin</span> for macOS - Windows is currently not support but will follow soon)</p>
                <p>See <a href="#" v-on:click="openExternal('https://github.com/holochain/holoscape/blob/master/README.md')">README</a></p>
              </div>
            </div>
            <div class="modal-footer">
              <button id="quit-button" type="button" class="btn btn-secondary quit-button" data-dismiss="modal">Quit</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="passphrase-modal" tabindex="-1" role="dialog" aria-labelledby="passphrase-modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Unlock keystore...</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="passphrase">Please enter your passphrase to unlock keystores</label>
                <input type="password" class="form-control" id="passphrase" aria-describedby="passphrase-help" placeholder="Passphrase">
                <small id="passphrase-help" class="form-text text-muted"></small>
              </div>
            </div>
            <div class="modal-footer">
              <button id="quit-button" type="button" class="btn btn-secondary quit-button" data-dismiss="modal">Quit</button>
              <button id="unlock-button" type="button" class="btn btn-primary">Unlock keystores</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="network-config-modal" tabindex="-1" role="dialog" aria-labelledby="network-config-modal" aria-hidden="true">
        <div class="modal-dialog" role="document" id="network-config-wrapper">
          <div class="modal-content" id="network-config-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Holochain Network Configuration...</h5>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="networkType" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Network Type
                  </button>
                  <div class="dropdown-menu" aria-labelledby="networkType">
                    <a class="dropdown-item" href="#" id="sim1h-type">sim1h</a>
                    <a class="dropdown-item" href="#" id="sim2h-type">sim2h</a>
                    <a class="dropdown-item" href="#" id="lib3h-type">lib3h</a>
                    <a class="dropdown-item" href="#" id="memory-type">memory</a>
                  </div>
                </div>
              </div>
              <div class="form-group" id="network-config-sim1h" v-if="network_type==='sim1h'">
                <label for="dynamo-url">Dynamodb URL</label>
                <input type="input" class="form-control" id="dynamo-url" aria-describedby="dynamo-url-help" placeholder="http://localhost:8000">
                <small id="dynamo-url-help" class="form-text text-muted"></small>
              </div>
              <div class="form-group" id="network-config-sim2h" v-if="network_type==='sim2h'">
                <label for="sim2h-url">Sim2h Switch-Board URL</label>
                <input type="input" class="form-control" id="sim2h-url" aria-describedby="sim2h-url-help" placeholder="wss://sim2h.holochain.org:9000" value="wss://sim2h.holochain.org:9000" v-model="sim2h_url">
                <small id="sim2h-url-help" class="form-text text-muted clearfix" v-if="sim2h_url=='wss://sim2h.holochain.org:9000'">
                  The default URL wss://sim2h.holochain.org points to a public pre-alpha test instance of the sim2h switch-board.
                  <p class="disclaimer">
                    DISCLAIMER:
                    <ul>
                      <li>This public instance comes with no guarantee of up-time!</li>
                      <li>This is for testing only!</li>
                      <li>Network traffic might be logged and stored for the purpose fo debugging Holochain during this alpha test phase!</li>
                    </ul>
                  </p>
                  <p>You can read more about sim2h <a href="#" v-on:click="openExternal('https://blog.holochain.org/p/30079b6f-7733-40a6-9135-ac5b9d861b96')">here.</a></p>
                  
                  <span class="disclaimer-label">Please confirm:</span>
                  <label for="checkbox">I have understood that this is an early alpha test release and that all entry data might be logged for debugging purposes.</label>
                  <br>
                  <input class="disclaimer-checkbox" type="checkbox" id="checkbox" v-model="disclaimer">
                </small>
              </div>
              <div class="form-group" id="network-config-lib3h" v-if="network_type==='lib3h'">
                <label for="lib3h-network-name">Network Name</label>
                <input type="input" class="form-control" id="lib3h-network-name" aria-describedby="lib3h-network-name-help" placeholder="holochain-testnet">
                <small id="lib3h-network-name-help" class="form-text text-muted"></small>
                <label for="lib3h-bootstrap-url">Bootstrap Url</label>
                <input type="input" class="form-control" id="lib3h-bootstrap-url" aria-describedby="lib3h-bootstrap-url-help" placeholder="wss://">
                <small id="lib3h-bootstrap-url-help" class="form-text text-muted">optional url of a boostrap node</small>
              </div>
              <div class="form-group" id="network-config-memory" v-if="network_type==='memory'">
              </div>
              <div class="modal-footer">
              <button id="quit-button" type="button" class="btn btn-secondary quit-button" data-dismiss="modal">Quit</button>
              <button id="set-network-type-button" type="button" class="btn btn-primary" :disabled="!disclaimer && network_type=='sim2h' && sim2h_url=='wss://sim2h.holochain.org:9000'">Set Network Type</button>
            </div>
          </div>
        </div>
      </div>    
    </div>
  </div>

      <script>
       const { ipcRenderer, shell } = require('electron')
       var Convert = require('ansi-to-html');
       var convert = new Convert({newline: true});

       var app = new Vue({
           el: '#app',
           data: {
               status: "Initializing...",
               logs: require('electron').remote.getGlobal('holoscape').logMessages,
               network_type: "sim2h",
               sim2h_url: 'wss://sim2h.holochain.org:9000',
               disclaimer: false,
           },
           methods: {
              openExternal(url) {
                  shell.openExternal(url)
              }
           }
       })

       ipcRenderer.on('log', (event,store) => {
          let {level, message} = store
          message = convert.toHtml(message)
          app.logs.push({level, message})
          while(app.logs.length > 20) {
            app.logs.shift()
          }
       });

       ipcRenderer.on('splash-status', (event, message) => {
           console.log(message)
           app.status = message
       });

       const cancel = () => {
           ipcRenderer.send('quit')
       }

       //-------------------------------------------------------------------
       // Binaries check
       ipcRenderer.on('missing-binaries', (event, message) => {
          $('#splash-window').hide()
          $('#binaries-modal').modal()
       })

       //-------------------------------------------------------------------
       // Network config management
       ipcRenderer.on('request-network-config', (event, message) => {
          app.network_type = 'sim2h'
          $('#sim2h-url').val("wss://sim2h.holochain.org:9000")
          $('#network-config-modal').modal()
       })
       const network_config_submit = () => {
           let config = {
               type: app.network_type
           }
           switch(config.type) {
               case "sim1h":
                   config.dynamo_url = $('#dynamo-url').val()
                   break;
               case "sim2h":
                   config.sim2h_url = $('#sim2h-url').val()
                   break;
               case "lib3h":
                   config.network_id = {nickname: $('#lib3h-network-name').val()}
                   const bootstrap = $('#lib3h-bootstrap-url').val()
                   let nodes = []
                   if (bootstrap != "") {
                       nodes = [bootstrap]
                   }
                   config.bootstrap_nodes = nodes
                   break;
           }
           ipcRenderer.send('network-config-set', config)
           $('#network-config-modal').modal('hide')
       }

       $('#set-network-type-button').click(network_config_submit)

       $('#sim1h-type').click(()=>{app.network_type="sim1h"})
       $('#sim2h-type').click(()=>{app.network_type="sim2h"})
       $('#lib3h-type').click(()=>{app.network_type="lib3h"})
       $('#memory-type').click(()=>{app.network_type="memory"})

       //-------------------------------------------------------------------
       // Passphrase management
       ipcRenderer.on('request-passphrase', (event, message) => {
           $('#passphrase-modal').modal()
       })

       const pass_submit = () => {
           ipcRenderer.send('passphrase-set', $('#passphrase').val())
           $('#passphrase-modal').modal('hide')
       }

       $('#unlock-button').click(pass_submit)
       $('.quit-button').click(cancel)

       $('#passphrase').on('keyup', (event) => {
           if (event.keyCode === 13) {
               submit()
           }

           if (event.keyCode === 27) {
               cancel()
           }
       })

      </script>
  </body>
</html>
