<html>
  <head>
    <title>Holoscape UI config</title>
    <script>window.$ = window.jQuery = require('jquery');</script>
    <script>const Vue = require('vue/dist/vue.common');</script>
    <script>require('popper.js');</script>
    <script>require('bootstrap');</script>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="common.css">
    <style>
      .error {
        color: red;
      }
      .info {
        color: blue;
      }
    </style>
  </head>
  <body>

    <div id="app" class="container">
      <h1> Holoscape UI Config</h1>
      <!--
      <div><span>Interfaces:</span><span>{{ interfaces }}</span></div>
      <div><span>UIs:</span><span>{{ uis }}</span></div>
      -->
      <ul class="list-group">
      <li class="list-group-item">
        <h2>UIs</h2>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Install path</th>
                <th scope="col">Interface</th>
                <th scope="col">actions</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="ui in uis">
                <td>{{ ui.name }}</td>
                <td>{{ ui.installDir }}</td>
                <td>
                    <div class="form-group">
                        <select class="form-control form-control-lg" v-bind:id="'interface-for-'+ui.name" v-model="ui.interface">
                            <option v-for="interface in interfaces" :value="interface.id" :selected="ui.interface === interface.id">{{interface.id}}</option>
                            <option disabled v-if="!ui.interface" selected="selected">Not set yet</option>
                            <option disabled v-if="ui.interface">Not set yet</option>
                        </select>
                      </div>
                </td>
                <td><button type="button" class="btn btn-primary update-interface" :data-name="ui.name" v-on:click="updateInterface">Update interface</button></td>
              </tr>
            </tbody>
        </table>
        <!--
        <button id="add-agent" type="button" class="btn btn-success" data-toggle="modal" data-target="#agent-modal">Add UI</button>
        -->
      </li>
    </ul>
    </div>

    <script>

        let configured = false
        require('electron').ipcRenderer.on('conductor-call-set', () => {
            if(configured) return
            configured = true

            const remote = require('electron').remote
            const happUiController = remote.getGlobal('holoscape').happUiController
            const call = remote.getGlobal('conductor_call')


            var app = new Vue({
                el: '#app',
                data: {
                  interfaces: [],
                  uis: [],
                  updateInterface: (event) => {
                    let uiName = $(event.target).attr('data-name')
                    let interfaceId = $(`#interface-for-${uiName}`).val()
                    happUiController.setUiInterface(uiName, interfaceId)
                  },
                }
            })

            const refresh = () => {
              call('admin/interface/list')().then((interfaces)=>{
                app.interfaces = interfaces
                console.log('Interfaces:', app.interfaces)
                app.uis = Object.keys(happUiController.getInstalledUIs()).map((name) => {
                  let UI = happUiController.installedUIs[name]
                  if(UI.interface){
                    $(`#interface-for-${name}` ).val(UI.interface)
                  }
                  return {
                      name,
                      installDir: UI.installDir,
                      interface: UI.interface,
                  }
                })
              })
              
            }

            

            refresh()
        })
    </script>




  </body>
</html>
